# Core / Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependencies / Build
build/
dist/
downloads/
var/
lib/
lib64/
parts/
wheels/
share/python-wheels/
sdist/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
.installed.cfg
.Python
MANIFEST

# Testing / Code Quality
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
nosetests.xml
*.cover
*.py,cover
cover/
.cache
.tox/
.nox/
.hypothesis/
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Logging
*.log
pip-log.txt
pip-delete-this-directory.txt

# Infrastructure / Data
# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
terraform/terraform.tfvars

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# System / IDE / Local
.DS_Store
.idea/

# Local Secrets & Project specific
keys/*.json
*.txt